.wrapper-menu{
	width:100%;
	text-align:center;
	height:100px;
	background:#5370fb;
	padding-top:35px;
	position: fixed;
	top:0px;
	z-index:100;
	a.linkRoute{
		font-size: 20px;
		margin: 20px;
		text-decoration: none;
		color:#fff;
		
	}
	.linkRoute.active{
		font-weight: 700;
	}
	.userInfo{
		position: absolute;
		right:100px;
		top:10px;
		width:250px;
		height:80px;
		.texts{
			display:inline-block;
			vertical-align: top;
			padding-top:5px;
		}
		p{
			color:#fff;
			margin: 5px;
		}
		a{
			cursor:pointer;
		}
		.wrap-photo-user{
			width:80px;
			height:80px;
			border-radius: 50%;
			overflow: hidden;
			display:inline-block;
			vertical-align: top;
			float:right;
			border:4px solid #eaeaea;
			background:#fff;
			img{
				width:100%;
				height:100%;
				transform:scale(1.03);
			}
		}
	}
	.hidden{
		display:none;
	}
}